<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        this is layout
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <!-- left menu -->
        <%- include('element/left_menu'); -%>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message"><%= 'Welcome to Backend panel.' %></span>
                        </li>
                        <li>
                            <a href="/admin/logout"><i class="fa fa-sign-out"></i> Log out</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <%- include('element/breadcrumb'); -%>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <%- body %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    <%= 'Adminstastor' %>
                </div>
                <div><strong>Copyright</strong> Author &copy;
                    <%= 'ewuryiw' %>
                </div>
            </div>
            <% if (info.length>0) { %>
            <%- include('Flash/default') -%>
            <% } %>
            <% if (error.length>0 ) { %>
            <%- include('Flash/error'); -%>
            <% } %>
            <% if (success.length>0) { %>
            <%- include('Flash/success') -%>
            <% } %>
        </div>

    </div>
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Mainly scripts -->
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!--chart-->
    <script src="/js/plugins/highcharts/highcharts.js"></script>
    <script src="/js/plugins/highcharts/exporting.js"></script>
    <!-- iCheck -->
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Chosen -->
    <script src="/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>
